@font-face {
	font-family: textFont;
	src: url(../fonts/HelveticaNeueLTStd-Lt.otf);
}

@font-face {
	font-family: titleFont;
	src: url(../fonts/BebasNeue-Bold.otf);
}

body {
	font-family: "textFont";
}

#nav {
	height: 51px;
	background-color: #8CC63E;
}

ul {
	padding: 0px;
}

#nav li {
	display: inline;
	font-size: 15pt;
	line-height: 2.5;
	padding: 14px 60px;
	width: 200px;
	height: 50px;
}
#nav li:hover{
	background-color: #AEE85F;
	-webkit-transition: background-color 0.6s; 
    -moz-transition: background-color 0.6s; 
    -o-transition: background-color 0.6s; 
    transition: background-color 0.6s;
    cursor: pointer;
}

#nav li a {
	color: #fff;
	text-decoration: none;
}

.navTitle {
	padding-left: 5%;
	margin: 0px;
	font-weight: bold;
}

.navTitle img {
	width: 45px;
	height: 40px;
	margin-right: 20px;
}

.signupSection {
	float: right;
}

.signupSection p {
	font-size: 18pt;
	font-weight: bold;
}

.signupSection input{
	margin-bottom: 5px;
}

.signupSection .textInput, .textInput, .registration_table input {
	width: 250px;
	height: 32px;
	padding-left: 5px;
	border-radius: 4px;
}

.button {
	background-color: #8CC63E;
	color: white !important;
	text-align: center;
	margin-bottom: 3px;
	width: 250px;
	height: 32px !important;
	font-size: 12pt;
	border: none;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
	background-color: #AEE85F;
	-webkit-transition: background-color 0.6s; 
    -moz-transition: background-color 0.6s; 
    -o-transition: background-color 0.6s; 
    transition: background-color 0.6s;
    cursor: pointer;
}

#forgotPassword, #forgotPassword:active, #forgotPassword:visited, #forgotPassword:hover  {
	color: #8CC63E !important;
	text-decoration: none;
	font-size: 12pt;
}

.menu_dashes {
	margin-top: 7px;
	width: 28px !important;
	height: 28px !important;
	float: right;
	z-index: 99;
}

.button:focus {
	background-color: #8CC63E !important;
}

.invitation {
	position: absolute; 
	background-color: #fff;
	font-size: 14pt;
	right: 20px; 
	top: 100px;
	width: 300px;
	border: 2px solid #8CC63E;
	border-radius: 5px;
	margin-bottom: 15px;
}

@media screen and (max-width:1172px) {
	#nav li {
		padding: 14px 35px;
	}
}

@media screen and (max-width:950px) {
	#nav li {
		padding: 14px 10px;
	}
}

@media screen and (max-width:680px) {
	#nav .nav_title, #nav {
		height: 70px;
		line-height: 2;
	}
	#nav .nav_title img {
		margin-bottom: 10px;
	}
	#nav li {
		width: 100%;
		display: inline-block;
		line-height: 1;
		text-align: center;
	}
	.signupSection {
		float: none;
		width: 80%;
		margin: auto;
	}
	.button, .signupSection .textInput {
		width: 100%;
	}

	.nav_visible {
		height: 270px !important;
	}
}

/* 	MODAL	 */
.modal td {
	font-size: 16pt;
	padding: 10px 5px;
}

.modal td input{
	width: 400px;
	border-radius: 4px;
	padding-left: 5px;
}

/*	LOGIN	*/
form td{
	width: 250px;
	padding-bottom: 10px !important;
}

.panel-heading {
	background-color: #8CC63E !important;
	color: #fff !important;
}

/*	Home Dashboard	*/
.home-panel {
	border: 2px solid #8CC63E;
	width: 49%;
	margin-bottom: 20px;
	font-size: 24pt;
	border-radius: 8px;
	cursor: pointer;
}

.panel-content {
	font-size: 20pt;
	margin: 10px 20px 20px 20px;
}

.dashboard-panel-header {	font-weight: bold; font-size: 22pt;	}
.dashboard-panel-item 	{	text-indent: 40px;	}
.dashboard-panel-list	{	
	list-style: none;
	padding: 10px;
	padding-left: 20px;
	border-radius: 5px;
}
.dashboard-panel-list:hover{
	background-color: #DDF2C0;
	-webkit-transition: background-color 0.6s; 
    -moz-transition: background-color 0.6s; 
    -o-transition: background-color 0.6s; 
    transition: background-color 0.6s;
}

.left 	{	float: left;	}
.right 	{	float: right;	}
.center {	float: none; width: 100%;	}

.home-grocery{	height: 350px;	}
.home-alcohol{	height: 350px;	}
.home-payment{	height: 350px;	}
.home-groups {	height: 350px;	}
.home-active {	background-color: #e7f3d8;	}

/*	My Basket	*/
.mybasket-title {
	color: #333;
	font-family: "titleFont";
	font-size: 54pt;
	margin-bottom: 20px;
}

.menu-header {
	margin-left: 3%;
	font-size: 24pt;
	font-weight: bold;
}
.menu-header span {	float: left;	}

.menu-item {
	/*background-color: #8CC63E;*/
	width: 100%;
	height: 68px;
	float: left;
	border-top: 1px solid #999;
	/*border-radius: 5px;*/
}

.basket-text span{ float: left; }
.segment-1 { min-width: 150px; line-height: normal; overflow: hidden; white-space: nowrap;}
.segment-2 { min-width: 150px; line-height: normal; overflow: hidden; white-space: nowrap;}
.segment-3 { min-width: 150px; line-height: normal; overflow: hidden; white-space: nowrap;}
.segment-4 { min-width: 150px; line-height: normal; overflow: hidden; white-space: nowrap;}
.segment-button-1 { min-width: 24px; float: right; }
.segment-button-2 { min-width: 24px; float: right; }
.menu-item-seg { min-width: 100px; }

.menu-item:hover {
	background-color: #ddf2c0;
	-webkit-transition: background-color 0.6s; 
    -moz-transition: background-color 0.6s; 
    -o-transition: background-color 0.6s; 
    transition: background-color 0.6s;
} 

.menu-item p, .menu-item .basket-image img{
	float: left;
}

.menu-item-active {
	background-color: #e7f3d8;
}

.menu-item p {
	color: #333;
	line-height: 100%;
	height: 64px;
	margin: 15px 20px;
	font-size: 20pt;
}

.menu-item .basket-image img {
	height:  56px;
	width:  56px;
	border-radius: 100px;
	margin: 4px 20px;
}

.menu-item .basket-meter, .menu-item .meter-state {
	float: right;
}

.delete-button {
	margin-top: 4px;
	width: 24px !important;
	height: 24px !important;
}

.delete-button:hover {
    -webkit-animation-name:             expand; 
    -webkit-animation-duration:         0.5s; 
    -webkit-animation-iteration-count:  1;
    -webkit-animation-timing-function: linear;
}

.menu-item-button-collapsed {
	float: right;
	padding-right: 32px;
	padding-top: 18px;
	cursor: auto;
}

.menu-item-button-collapsed img {
	height: 32px;
	width: 32px;
	margin-right: 8px;
	cursor: pointer;
}

.menu-item-button-collapsed .edit-button:hover {
    -webkit-animation-name:             expand; 
    -webkit-animation-duration:         0.5s; 
    -webkit-animation-iteration-count:  1;
    -webkit-animation-timing-function: linear;
}

.menu-item-button {
	float: right;
	padding-right: 16px;
}

.menu-item-button input:hover {
	background-color: #333 !important;
	color: #fff !important;
	-webkit-transition: background-color 0.6s, color 0.6s; 
    -moz-transition: background-color 0.6s, color 0.6s; 
    -o-transition: background-color 0.6s, color 0.6s; 
    transition: background-color 0.6s, color 0.6s;
}

.menu-item-button input {
	width: 30px;
	margin-right: 16px;
	background-color: #fff !important;
	color: #333 !important;
	border: 1px solid #999;
}

.checkout-table {
	font-size: 16pt;
}
.checkout-table td{
	padding: 5px 50px 5px 10px;
	overflow: hidden;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes expand {
  from {
  	padding: 0px;
  }
  to {
  	padding: 5px;
  }
}

.popup {
    position:fixed;
    z-index:2;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    opacity:0;
    visibility:hidden;
    transition:.3s ease;
}

.show-popup .popup {
    opacity:1;
    visibility: visible;    
}

.popup > iframe {
    position: fixed;
    top:25%;
    left:50%;
    margin-left:-280px;
}

/* CHECKBOX SIZE*/
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  /*padding: 10px;*/
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}