{% extends "base.html" %}

{% block content %}
    <div class="container alcohol-history history">
		<center><p class="mybasket-title">Alcohol History</p></center>
        <div class="menu-header">
            <span class="segment-1" style="width: 200px;">Date</span>
            <span class="segment-2" style="width: 350px;">Item Name</span>
            <span class="segment-3" style="width: 350px;">Purchaser</span>
            <span class="segment-4" >Total Cost</span> 
        </div>
		<div class="container mybasket-content" id="content-alcohol-history">
        	
    	</div>
    </div>
{% endblock %}	

{% block js_staff %}
{% endblock js_staff %}